body {
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

h1 {
    color: green;
}

.data {
    background-color: rgba(0, 128, 0, 0.178);
    width: 50%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.btn {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: rgba(0, 128, 0, 0.719);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(0, 128, 0, 0.856);
}
a{
    text-decoration: none !important;
    color: #fff;
}